<nav>
    <div class="site-title">
      <a href="/"><h1>Office Reservation App</h1></a>
      <p>A Net Ninja Site</p>
    </div>
    <ul>
      <li><a href="/">Desks</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Desk</a></li>
    </ul>
  </nav>